@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

// Update Bulma's global variables
$family-sans-serif: "Rubik", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
$primary: #61dafb;
//$link: $pink;

// Update some of Bulma's component variables
$body-background-color: #011936;
$hr-background-color: #ccc;

@import "~bulma/bulma.sass";
